name: C/C++ CI

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Install Eigen and Pybind11
      run: sudo apt update && sudo apt install -y libeigen3-dev && pip3 install pybind11 pytest numpy scipy
    - name: Compile
      run: export CPATH=/usr/include/eigen3 && cd examples/python && source build.sh
    - name: Test
      run: |
        cd examples/python
        python3 -m pytest -s -v test.py
